# EFR32BG SLTB010A board

config BOARD_EFR32BG22_SLTB010A
	bool "SiLabs EFR32BG22-SLTB010A (Thunderboard Sense BG22)"
	depends on SOC_SERIES_EFR32BG22
	select SOC_PART_NUMBER_EFR32BG22C224F512IM40
