config APP_MESH
  bool "Bluetooth Mesh"
  depends on BOARD_EFR32MG21_BRD4181A01
  
if APP_MESH
  choice
    prompt "Choose your Bluetooth Mesh application"
  
    source "applications/mesh/embedded_provisioner/Kconfig.app"
    source "applications/mesh/subnet_bridge/Kconfig.app"
    source "applications/mesh/edge_node/Kconfig.app"
  
  endchoice
endif